@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600&family=Nunito:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mallanna&family=Mandali&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --color-dark: #292828;
  --color-darker: #17191a;
  --color-light: #9c9a9d;
  --color-lighter: #fefdfd;
  --color-blue: #007e89;
  --color-planetariumblue: #1a909b;
  --color-lightblue: #ecfbfc;
  --color-red: #933954;
}

body {
  background-color: var(--color-lighter);
  font-family: "Mandali";
  line-height: 1.7rem;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
}
nav {
  background-color: var(--color-dark);
  padding: 1rem;
}
nav a {
  color: var(--color-planetariumblue);
  font-size: 1.2rem;
  padding-left: 1rem;
}

h1 {
  color: var(--color-planetariumblue);
  padding: 5rem 1rem 2rem;
  text-align: center;
}
h2 {
  color: var(--color-planetariumblue);
  padding: 2rem 1rem 2rem;
  text-align: center;
}

.image-container {
  padding: 1rem;
}
img {
  border-radius: 15px;
  max-width: 100%;
}

p {
  padding: 0 1rem 0;
  color: var(--color-light);
}

.solution {
  text-align: center;
  display: block;
  padding: 1rem 0 2rem;
  color: var(--color-planetariumblue);
}

#scroll-top {
  display: block;
  text-align: center;
  padding-bottom: 2rem;
  color: var(--color-planetariumblue);
  cursor: pointer;
}

@media all and (min-width: 500px) {
  .image-container {
    padding: 2rem 5rem 1rem;
  }
  p {
    padding: 0 5rem 0;
  }
}
@media all and (min-width: 1000px) {
  .image-container {
    padding: 0 20rem 0rem;
  }
  p {
    padding: 1rem 18rem 1rem;
    font-size: 1.1rem;
  }
  .solution {
    padding: 2rem;
  }
}

@media all and (min-width: 1300px) {
  .image-container {
    padding: 0 20rem 0rem;
  }
  p {
    padding: 1rem 25rem 1rem;
    font-size: 1.1rem;
  }
}
